.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.topic{
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 5px;
    background-color: #ccc; 
    text-align: center;
    line-height: 30px;
    color: #000; 
    border: 1px solid #000; 
}
.topic:hover{
    background-color: aquamarine;
}
a{
    text-decoration: none;
    color: #000;
    line-height: 30px;
}



